.person {
  width: 250px;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.name {
  text-align: center;
}

.description {
  text-align: justify;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
}
